// Mixins:

@mixin links {
    a:link {
        color: $swyellow;
        text-decoration: none;
    }
    a:visited {
        color: $swyellow;
        text-decoration: none;
    }
    a:hover {
        color: $swgold;
    }
    a:active {
        color: $swgold;
    }
}