@import "#variables";
@import "#mixins";

.detailsCardContainer {
    float: left;
    width: 25%;
    min-width: 25%;
    height: 75%;
    min-height: 75%;
    margin: 4%;
    margin-left: 6%;
    border: 1px solid $swblack;
    padding: 1.5%;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    background-color: $swcoal;
    color: $swyellow;

    span {
        font-weight: 700;
    }
    button {
        border: 1px solid $swyellow;
        background-color: Transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        color: $swyellow;
        padding: .5rem 1rem;
        font-size: .7rem;
    }
    @include links
}



.detailsFooter {
    text-align: center;
}